{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT-Calc</title>
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
</head>
<body class="background-color">
    <header class="header">
        <div class="header__container">
            <h1>IoT - Calc</h1>
        </div>
    </header>
    <div class="calc-form">
        <div class="calc-form__container">
            <h2>Calculadora de Distância</h2>
            <form class="calc-form__form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Calcular</button>
            </form>
        </div>
    </div>
    <div class="result">
        <span id="result">{% if result %}{{ result }}{% endif %}</span>
    </div>
    <footer class="footer">
        <div class="footer__container">
                <p>
                    ® 2025 jawc-05 e JaoVicy. Todos os direitos reservados.
                </p>
        </div>
    </footer>
    <script src="js/main.js"></script>
</body>
</html>