@use 'variables';

.header{
    background-color: variables.$mainColor;

    h1{
        color: variables.$mainTextColor;
    }

    &__container{
        text-align: center;
        padding: 24px 36px;
        text-transform: uppercase;
    }
}