@use 'variables';

.result{
    font-size: 24px;
    font-weight: bold;
    color: variables.$mainTextColor;
    display: flex;
    justify-content: center;

    @media (min-width: 1024px){
        margin-top: -550px;
    }

    @media (max-width: 768px){ // Não esquecer de dar "python manage.py collectstatic" após alterações!!
        font-size: 18px;
        margin-top: -60px;
    }
}