.header {
  background-color: #5f27cd;
}
.header h1 {
  color: #c8d6e5;
}
.header__container {
  text-align: center;
  padding: 24px 36px;
  text-transform: uppercase;
}

.calc-form__form label {
  display: block;
  margin-top: 12px;
  text-transform: uppercase;
  color: #c8d6e5;
}
.calc-form__form input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #000000;
  border-radius: 4px;
  background-color: #c8d6e5;
}
.calc-form__form button {
  width: 100%;
  margin-top: 18px;
  padding: 10px;
  background: #5f27cd;
  color: #c8d6e5;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  transition: backgroud 0.2s;
  text-transform: uppercase;
}
.calc-form__form button:hover {
  opacity: 0.8;
}
.calc-form__container {
  background-color: #212529 opacity 0.4;
  max-width: 400px;
  margin: 40px auto;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 2px 8px;
}
.calc-form__container h2 {
  text-align: center;
  color: #c8d6e5;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.background-color {
  min-height: 100vh;
  background-image: linear-gradient(180deg, rgba(33, 37, 41, 0.01) 0%, #212529 85%), radial-gradient(ellipse at top left, rgba(13, 110, 253, 0.5), transparent 50%), radial-gradient(ellipse at top right, rgba(255, 193, 7, 0.5), transparent 50%), radial-gradient(ellipse at center right, rgba(111, 66, 193, 0.5), transparent 50%), radial-gradient(ellipse at center left, rgba(214, 51, 132, 0.5), transparent 50%);
  background-color: #212529;
}

.footer__container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: #5f27cd;
  color: #c8d6e5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  text-align: center;
}
.footer p {
  margin: 0;
  color: #c8d6e5;
}

@font-face {
  font-family: Avenir;
  src: url(../../assets/fonts/Avenir-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: Avenir;
  src: url(../../assets/fonts/Avenir-Bold.woff2);
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir, sans-serif;
  list-style: none;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.calc-form,
.result {
  flex-grow: 1;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.result{
  font-size: 800px;
  color: red;
}